include *.yml
include LICENSE
include tox.ini
include .coveragerc
recursive-include pyrrha *.m
recursive-include pyrrha *.mat
recursive-include pyrrha *.md
recursive-include pyrrha *.odp
recursive-include pyrrha *.pdf
recursive-include pyrrha *.txt
recursive-include test *.py
recursive-include docs *.bat
recursive-include docs *.buildinfo
recursive-include docs *.css
recursive-include docs *.doctree
recursive-include docs *.eot
recursive-include docs *.html
recursive-include docs *.inv
recursive-include docs *.js
recursive-include docs *.otf
recursive-include docs *.pickle
recursive-include docs *.png
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.svg
recursive-include docs *.ttf
recursive-include docs *.txt
recursive-include docs *.woff
recursive-include docs *.woff2
recursive-include docs Makefile